@page
@model TaskManagerApp.Pages.ProjectUsers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Assigned Projects Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectUser.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectUser.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectUser.ProjectId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectUser.ProjectId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProjectUser.UserId" class="btn btn-outline-primary">Edit</a> |
    <a asp-page="./Index" class="btn btn-warning">Back to List</a>
</div>
