@page
@model TaskManagerApp.Pages.ProjectUsers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Assign Projects to Users</h1>

<p class="text-center">
    <a asp-page="Create" class="btn btn-outline-primary mt-2">Assign Project</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ProjectUser[0].User)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ProjectUser[0].Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProjectUser) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
                <td class="text-center">
                    <a asp-page="./Edit" asp-route-id="@item.ProjectId" class="btn btn-outline-primary">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ProjectId" class="btn btn-outline-secondary">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ProjectId" class="btn btn-outline-danger">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
