@page
@model TaskManagerApp.Pages.Tasks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Task Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Task.Id" class="btn btn-outline-primary">Edit</a> |
    <a asp-page="./Index" class="btn btn-warning">Back to List</a>
</div>
