@page
@model TaskManagerApp.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Projects</h1>

<p class="text-center">
    <a asp-page="Create" class="btn btn-outline-primary mt-2">Create New Project</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Project[0].ProjectName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Project[0].DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Project)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td class="text-center">
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
